@import "tailwindcss";

@theme {
    --color-primary: #9E6FD5;
    --color-secondary: #C7B7EB;
    --color-accent: #B7A5DB;
    --color-button-bg: #6B4BAC;
    --color-text: #706d75;
    --color-placeholder: #D4D3D8;
    --color-background: #f6f9ff;

}

.absolute-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}